<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Job Listings</title>
</head>
    <h1 id="panels-tables">Job Listings</h1>
    <div class="bs-example">
        <div class="panel panel-default">
        <!-- Panel contents -->
            <div class="panel-heading">Current:</div>
            <div class="panel-body">
                <p>These are the jobs that we currently have available. Our clients are looking for the following roles:
                </p>
            </div>

        <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Role</th>
                        <th>City</th>
                        <th>Remuneration</th>
                  </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="/show/show">CFO regional bank</a></td>
                        <td>Melbourne</td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="/show/show">IT Manager</a></td>
                        <td>Sydney</td>
                        <td><span class="glyphicon glyphicon-arrow-down"></span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="/show/show">Systems Engineer</a></td>
                        <td>Singapore</td>
                        <td><span class="glyphicon glyphicon-arrow-right"></span></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
