<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Weather Search</title>
</head>
<body>

    <h1>Weather Search</h1>
    <p>Look up the weather around America!</p>
    <form action="/weather/conditions">
        <div class="form-group">
            <label>City:</label>
            <input name="city" type="text" class="form-control input-md" placeholder="Example: Austin, TX">
        </div>
        <input type="submit" class="input-md">
    </form>
</body>
</html>
