<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Job</title>
</head>
<body>
    <h1>Regional bank CFO</h1>
    Experience required:
    <ul>
        <li>10+ years in Financial Services</li>
        <li>Prior C-suite experience</li>
        <li>At least 2 years working in the South East Asian market</li>
        <li>Minimum of 3 years working with securities exchanges</li>
    </ul>

    <p>
    Description:
    </p>
    <p>
    This large regional bank is looking for a new CFO to guide the organisation as it transtitions from private ownership (as a credit union) to being publically listed on the ASX.
    </p>
    <div class="btn-group-lg">
        <button type="button" class="btn btn-default"><a href="/index/index/">Return to Job Listings</a></button>
        <button type="button" class="btn btn-default"><a href="#">Apply</a></button>
        <button type="button" class="btn btn-success"><a href="#">Apply</a></button>
        <button type="button" class="btn btn-default">
            <a href="#"><span class="glyphicon glyphicon-arrow-left"></span> How do I make the text colour white here???
            </a>
        </button>
    </div>
</body>
</html>
